/* You can add global styles to this file, and also import other style files */
/* HEADER */
 
*{
    margin: 0px;
}
   
body{
    background-color: #F4F2F2 !important;
    font-family: 'Open Sans', sans-serif !important;
}
   
h4{
    font-weight: 700;
    font-size: 16px;
    font-family:'Open Sans', sans-serif;
}
 
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

.header {
    background-image: url('/assets/images/header-bg.jpg');
    background-size: cover;
 
}

.header .header-background {
    background: rgba(0,44,119,0.7);
}

.header .header-container {
    max-width: 1344px;
    max-height: 80px;
    margin: 0 auto;
}
 
.container-fluid {
    width: 100%;
    padding-right: 25px !important;
    padding-left: 25px !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
} 

.ico_yellow{
    font-size: 12px;
	color: #F5B01C;
	vertical-align: 3px;
}

.border-dotted {
    border-left: 2px solid #ccc;
     border-left-style: dotted;
  }
  
  .title_blue{
	font-size: 14px;
	font-family:'Open Sans', sans-serif;
	color: #007CAD;
	font-weight: 700;
}

.ico_blue{
	font-size: 14px;
	color: #007CAD;
}

.btn-blue{
	color: #ffffff;
	background-color: #002371;
	border-color: #002371;
}

.margin-left{
   margin-left:0 !important;
}

.border-required {
    border-color: #ED1B2D !important;
}

  @media only screen and (max-width : 767px) {
  
      .border-dotted {
        border-left: 0px;
        border-left-style: none;
        border-top: 2px solid #ccc;
        border-top-style: dotted;
    }
  }
  